* {
  touch-action: manipulation;

  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin: 0;  
}

#output {
  font-size: 20px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: .5em;
  width: 85vw;
  height: 30vh;
  margin-bottom: 20px;
  overflow-wrap: break-word;
}

#keyboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .3em;
  max-width: 90vw;
  max-height: 50vh; 
  margin-top: 1em;
  margin: .5em;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  height: 2.5em;

  border: 0;
}

#caps {
  grid-column: span 1;
  grid-row: auto;

  appearance: none;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  height: 2.5em;

  border: 0;
}





#spatie {
  grid-column: span 3;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  height: 2.5em;

  border: 0;
}

#backSpace {
  grid-column: span 2/ span 3;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  height: 2.5em;

  border: 0;
}

#copy {
  grid-column: 3;
}


button {
  -webkit-appearance: none;
}


