* {
  touch-action: manipulation;

  margin: 0;
  padding: 0;
  
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;

  overflow: hidden;
}

#output {
  font-size: 20px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: .2em;
  width: 90vw;
  height: 50vh;
  margin-bottom: 20px;
  overflow-wrap: break-word;
}

#keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .3em;
  max-width: 90vw;
  max-height: 40vh; 
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  height: 2.5em;
  border: 0;
}

#spatie {
  grid-column: span 3;
}

#backSpace {
  grid-column: span 2
}

button {
  -webkit-appearance: none;
}


