* {
  touch-action: manipulation;

  margin: 0;
  padding: 0;

}
/* Webkit hoeft niet alleen appearance: none is genoeg */

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin: 0;  
}

#output {
  font-size: 20px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: .5em;
  width: 95vw;
  height: 25vh;
  overflow-wrap: break-word;
}

#letterKeyboard:not([hidden]) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: .3em;
  max-height: fit-content; 
  width: 100%;
  max-width: 30em;
  margin-top: 1em;

  margin: .2em;
}

#numberKeyboard:not([hidden]) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: .3em;
  max-height: fit-content; 
  width: 100%;
  max-width: 30em;
  margin-top: 1em;

  margin: .2em;
}

.basics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: .3em;
  max-height: fit-content; 
  width: 100%;
  max-width: 30em;
  margin-top: 1em;

  margin: .2em;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;

  color: black;;

  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  height: 2.8em;

  border: 0;
  border-radius: .2em;
}

#caps {
  grid-column: span 1;
  grid-row: auto;
  appearance: none;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;

  border: 0;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: .7em;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  height: 1.4em;

  background-color: rgb(240, 239, 239);
  border: 0;
}

label:has(input:checked) {
  background-color: green;
  color: white;
  font-weight: bold;
}
/* Maakt het contrast groter, wanneer de checkbox checked is */

button, input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}

#spatie {
  grid-column: span 3;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  height: 2.8em;

  border: 0;
}

#backSpace {
  grid-column: span 3;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  height: 2.8em;

  border: 0;
}

#copy {
  grid-column: 3;
}

img {
  height: 1.3em;
  width: 1.3em;

  user-select: none;
}



